In [1]:
import pandas as pd
pd.set_option('display.max_columns', 300)
pd.set_option('display.max_rows', 2000)

import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
from sklearn import linear_model
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn import metrics
from sklearn.preprocessing import PolynomialFeatures
from sklearn.preprocessing import StandardScaler
import seaborn as sns
sns.set(style="whitegrid")

README.md
citi_bike_eda_jm.ipynb
citi_bike_linear_regression_model.ipynb

In [84]:
df = pd.read_csv('/Users/jmirabito/Desktop/Learn.co/mod_2_final_project/citi_bike_revenue_predictions/citi_bike_nj_clean.csv')

In [116]:
print(df.shape)
df.head()

(815463, 32)

,index,date,station_id,tripduration,time,citi_station_name,citi_station_lat,citi_station_lon,citi_zipcode,PRCP,TAVG,dist_PATH,train_name,train_lat,train_lon,landmark,landmark_lat,landmark_lon,dist_landmark,Median,Mean,Pop,rider,day,weekend,Friday,Monday,Saturday,Sunday,Thursday,Tuesday,Wednesday
0,0,2019-08-01,3192,261.0,00:19:17.4780,Liberty Light Rail,40.711242,-74.055701,7302,0.0,79.0,0.022601,Journal Square,40.7327,-74.0628,Paulus Hook Park,40.758,-74.0374,0.050212,76967.05,98752.3753,31104.0,1,Thursday,0,0,0,0,0,1,0,0
1,1,2019-08-01,3186,172.0,00:25:59.1480,Grove St PATH,40.719586,-74.043117,7302,0.0,79.0,0.008522,Newport Station,40.7247,-74.0363,Paulus Hook Park,40.758,-74.0374,0.038837,76967.05,98752.3753,31104.0,1,Thursday,0,0,0,0,0,1,0,0
2,2,2019-08-01,3203,525.0,00:32:13.7000,Hamilton Park,40.727596,-74.044247,7302,0.0,79.0,0.008459,Newport Station,40.7247,-74.0363,Paulus Hook Park,40.758,-74.0374,0.031166,76967.05,98752.3753,31104.0,1,Thursday,0,0,0,0,0,1,0,0
3,3,2019-08-01,3185,219.0,00:36:15.2730,City Hall,40.717732,-74.043845,7302,0.0,79.0,0.010270,Newport Station,40.7247,-74.0363,Paulus Hook Park,40.758,-74.0374,0.040780,76967.05,98752.3753,31104.0,1,Thursday,0,0,0,0,0,1,0,0
4,4,2019-08-01,3272,262.0,00:45:49.3530,Jersey & 3rd,40.723332,-74.045953,7302,0.0,79.0,0.009749,Newport Station,40.7247,-74.0363,Paulus Hook Park,40.758,-74.0374,0.035708,76967.05,98752.3753,31104.0,1,Thursday,0,0,0,0,0,1,0,0

In [86]:
df.drop(['Unnamed: 0'], axis=1, inplace=True)

In [87]:
df.dtypes

date                  object
station_id             int64
tripduration         float64
time                  object
citi_station_name     object
citi_station_lat     float64
citi_station_lon     float64
citi_zipcode           int64
PRCP                 float64
TAVG                 float64
dist_mta             float64
train_name            object
train_lat            float64
train_lon            float64
landmark              object
landmark_lat         float64
landmark_lon         float64
dist_landmark        float64
Median               float64
Mean                 float64
Pop                  float64
rider                  int64
day                   object
weekend                int64
dtype: object

In [88]:
df.reset_index(inplace=True)

In [89]:
df.rename(columns={'dist_mta': 'dist_PATH'}, inplace=True)

In [90]:
print(df.shape)
df.head()

(815463, 25)

,index,date,station_id,tripduration,time,citi_station_name,citi_station_lat,citi_station_lon,citi_zipcode,PRCP,TAVG,dist_PATH,train_name,train_lat,train_lon,landmark,landmark_lat,landmark_lon,dist_landmark,Median,Mean,Pop,rider,day,weekend
0,0,2019-08-01,3192,261.0,00:19:17.4780,Liberty Light Rail,40.711242,-74.055701,7302,0.0,79.0,0.022601,Journal Square,40.7327,-74.0628,Paulus Hook Park,40.758,-74.0374,0.050212,76967.05,98752.3753,31104.0,1,Thursday,0
1,1,2019-08-01,3186,172.0,00:25:59.1480,Grove St PATH,40.719586,-74.043117,7302,0.0,79.0,0.008522,Newport Station,40.7247,-74.0363,Paulus Hook Park,40.758,-74.0374,0.038837,76967.05,98752.3753,31104.0,1,Thursday,0
2,2,2019-08-01,3203,525.0,00:32:13.7000,Hamilton Park,40.727596,-74.044247,7302,0.0,79.0,0.008459,Newport Station,40.7247,-74.0363,Paulus Hook Park,40.758,-74.0374,0.031166,76967.05,98752.3753,31104.0,1,Thursday,0
3,3,2019-08-01,3185,219.0,00:36:15.2730,City Hall,40.717732,-74.043845,7302,0.0,79.0,0.010270,Newport Station,40.7247,-74.0363,Paulus Hook Park,40.758,-74.0374,0.040780,76967.05,98752.3753,31104.0,1,Thursday,0
4,4,2019-08-01,3272,262.0,00:45:49.3530,Jersey & 3rd,40.723332,-74.045953,7302,0.0,79.0,0.009749,Newport Station,40.7247,-74.0363,Paulus Hook Park,40.758,-74.0374,0.035708,76967.05,98752.3753,31104.0,1,Thursday,0

In [91]:
# Removing unnecessary columns for linear regression
df.groupby(['date','station_id'])['rider'].sum()

date        station_id
2019-08-01  3184           86
            3185           91
            3186          501
            3187          121
            3191           22
                         ...
2020-09-01  3209            1
            3270            1
            3481            2
            3640            1
            3791            1
Name: rider, Length: 20064, dtype: int64

In [92]:
# Creating ridership column groubed by day and station
df_modeling = df.groupby(['date', 'station_id'])['rider'].sum()

In [93]:
df_modeling = df_modeling.reset_index()

In [94]:
df_modeling.set_index(['date','station_id'], inplace=True)

In [95]:
df_modeling.rename(columns={'rider': 'rider_count'}, inplace=True)

In [118]:
df_modeling.head()

                       rider_count  TAVG  PRCP  dist_PATH  dist_landmark  \
date       station_id
2019-08-01 3184                 86  79.0   0.0   0.010906       0.043861
           3185                 91  79.0   0.0   0.010270       0.040780
           3186                501  79.0   0.0   0.008522       0.038837
           3187                121  79.0   0.0   0.003982       0.036882
           3191                 22  79.0   0.0   0.025381       0.061002

                       median_inc    mean_inc  population_zip station_zip  \
date       station_id
2019-08-01 3184        76967.0500  98752.3753         31104.0       07302
           3185        76967.0500  98752.3753         31104.0       07302
           3186        76967.0500  98752.3753         31104.0       07302
           3187        76967.0500  98752.3753         31104.0       07302
           3191        40861.4099  56704.7387         41745.0       07304

                       weekend  Monday  Tuesday  Wednesday  Thursday  Friday  \
date       station_id
2019-08-01 3184              0       0        0          0         1       0
           3185              0       0        0          0         1       0
           3186              0       0        0          0         1       0
           3187              0       0        0          0         1       0
           3191              0       0        0          0         1       0

                       Saturday  Sunday
date       station_id
2019-08-01 3184               0       0
           3185               0       0
           3186               0       0
           3187               0       0
           3191               0       0

In [97]:
# Creating average temperature column grouped by station and date. Value will be same for all stations in a day.
df_modeling['TAVG'] = df.groupby(['date', 'station_id'])['TAVG'].median()

In [98]:
#Creating daily precipitation column
df_modeling['PRCP'] = df.groupby(['date', 'station_id'])['PRCP'].median()

In [99]:
df_modeling.PRCP.fillna(0.0, inplace=True)

In [100]:
# Creating distance to PATH train column
df_modeling['dist_PATH'] = df.groupby(['date', 'station_id'])['dist_PATH'].median()

In [101]:
# Creating distance to nearest landmark column
df_modeling['dist_landmark'] = df.groupby(['date', 'station_id'])['dist_landmark'].median()

In [102]:
# Creating zipcode median income column
df_modeling['median_inc'] = df.groupby(['date', 'station_id'])['Median'].median()

In [103]:
# Creating zipcode mean income column
df_modeling['mean_inc'] = df.groupby(['date', 'station_id'])['Mean'].median()

In [104]:
# Creating zipcode population column
df_modeling['population_zip'] = df.groupby(['date', 'station_id'])['Pop'].median()

In [109]:
# Creating zipcode column
df_modeling['station_zip'] = df.groupby(['date', 'station_id'])['citi_zipcode'].median()

In [110]:
# Converting zipcodes to string format 
df_modeling.station_zip = df_modeling.station_zip.astype(str)
df_modeling.station_zip = df_modeling.station_zip.apply(lambda x: x[0:5])
df_modeling.station_zip = df_modeling.station_zip.apply(lambda x: x.strip('.'))
df_modeling.station_zip = df_modeling.station_zip.apply(lambda x: '0'+ x if x.startswith('7') else x)

In [112]:
# Creating weekend dummy column
df_modeling['weekend'] = df.groupby(['date', 'station_id'])['weekend'].median()

In [115]:
# Creating day of week dummies inoriginal df
df = pd.concat([df, pd.get_dummies(df['day'])], 1)

In [117]:
# Now bringing them into modeling df
df_modeling['Monday'] = df.groupby(['date', 'station_id'])['Monday'].median()
df_modeling['Tuesday'] = df.groupby(['date', 'station_id'])['Tuesday'].median()
df_modeling['Wednesday'] = df.groupby(['date', 'station_id'])['Wednesday'].median()
df_modeling['Thursday'] = df.groupby(['date', 'station_id'])['Thursday'].median()
df_modeling['Friday'] = df.groupby(['date', 'station_id'])['Friday'].median()
df_modeling['Saturday'] = df.groupby(['date', 'station_id'])['Saturday'].median()
df_modeling['Sunday'] = df.groupby(['date', 'station_id'])['Sunday'].median()

In [121]:
df_modeling.to_csv('citibike_modeling_dataset.csv')